* {
    background-color: var(--light-grey);
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --dark: rgb(55, 55, 55);
    --light-grey: rgb(90, 70, 70);
    --reddish: rgb(125, 45, 45);
}

.header {
    background-color: var(--dark);
    overflow: hidden;
}


.header h1 {
    float: left;
    color: var(--reddish);
    text-align: center;
    padding: 10px 10px;
    font-size: large;
}

.header a {
    display: inline;
    float: right;
    padding: 10px;
    margin-bottom: 10px;
    border: solid var(--dark);
}

.box  {
    border: dotted;

}

.section  {
    border: solid green;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}


.thing1  {
    width: 20%;
    height: 100px;
    float: left;
    text-align: right;

}

.thing2  {
    width: 80%;
    border-left: 3px solid;
    float: right;
    font-size: smaller;
}

.container {
    position: relative;
    object-fit: fill;
    width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--dark);
    color: var(--light-grey);
    padding-left: 15px;
    padding-right: 15px;
}

.container2 {
    position: relative;
    width: 45%;
    display: inline;
}

.container:hover {
    background-color: var(--reddish);
    opacity: .5;
}

.container2:hover {
    background-color: var(--reddish);
    opacity: .5;
}

@media only screen and (max-width: 830px)  {
    .container2 {
        width: 100%;
    }
    * {
        color: var(--dark);
    }
}